.activityplanner_scrollable-menu {
	height: :auto;
	max-height: 200px;
	overflow-x: hidden;
}

.activityplanner_center {
	margin-left: auto;
	margin-right: auto;
	width: 70%;
}

.activityplanner_form_field {
//margin-bottom: 15px;
}

.activityplanner_form_field label {
	float: left;
	width: 30%;
	text-align: right;
	padding-right: 10px;
	margin: 10px 0px 5px 0px;
}

.activityplanner_form_field .activityplanner_form_menu {
	width: 70%;
	margin: 0px;
}

.activityplanner_form_field .checkbox {
	width: 70%;
	margin: 25px 0px 5px 0px;
}

.activityplanner_searchfood_button {
	float: right;
	margin: -10px 0px 5px 0px;
}

.activityplanner_searchtour_button {
	float: right;
	margin: 25px 0px 5px 0px;
}

.activityplanner_today_result_panel {
	position: absolute;
	top: 50%;
	bottom: 20px;
	width: 90%;
	margin: 0px 0px 0px 0px;
}

.activityplanner_searchoff_result_panel {
	position: absolute;
	top: 50%;
	bottom: 20px;
	width: 90%;
	margin: 0px 0px 0px 0px;
}

#activityplanner_searchoff_map {
	width: 100%;
	height: 100%;
	background: #ddd;
}

.tab-pane form {
	margin: 20px 0px 5px 0px;
}

#activityplanner_today_result {
	height: auto;
	overflow-x: hidden;
}

#activityplanner_off_rad {
	margin: 25px 0px 5px 0px;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	width: auto;
}

#activityplanner_searchoff {
	float: right;
	margin: 10px 0px 5px 0px;
}

#activityplanner_off_rad2 {
	margin-left: auto;
	margin-right: auto;
	position: relative;
	width: auto;
}